@mixin box-style($bg-color:black, $text-color:white) {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $text-color;
}

div.one {
  @include box-style;
}

div.two {
  @include box-style(purple, yellow);
}