%message {
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #5f0;
}

.good-message {
  @extend %message;
}

.bad-message {
  @extend %message;
  background-color: #f05;
}