@use "sass:math";

@mixin triangle($size, $direction, $color: tomato) {
  height: 0;
  width: 0;

  border-color: transparent;
  border-style: solid;
  border-width: math.div($size, 2);

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    // 문자열이 잘못 전달되면 up을 기본값으로 사용합니다.
    border-bottom-color: $color; 
  }
}

.one {
  @include triangle(100px, right);
}

.two {
  @include triangle(200px, down);
}

.three {
  @include triangle(50px, hello);
}